.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shironeri {
  background-color: #FFDDCA;
}

.my-library-item {
  margin: 5px 5px;
}

#target {
  background-color: #eee;
  
  min-height: 600px;
  /* display: flex; */
  align-items: stretch;
}
div#target {
  box-shadow: none;
}
div#target::before {
  position: absolute;
  top: 0;
}
div#target > div.row > div:not(:empty)::before {
  content: ""
}

div.row > div > div.row > div:not(:empty)::before {
  content: ""
}

div#target > div > div:hover {
  background-color: #9F7462;
}

[data-style=droppable-placeholder] {
  /* width: 100%; */
  /* box-shadow: #777 0 0 2px 2px; */
  box-sizing: border-box;
  border: solid #5B6DCD 2px;
  color: #333;
  min-height:100px;
}
[data-style=droppable-placeholder]:hover {
  color: white;
}


#target > .row:hover {
  background-color: #C48E69;
}

#target > .row:hover::before {
  color: white;
}


#target > .row::before {
  transform: translateX(-1.6em);
  background-color: #C48E69;
  color: #593A27;
}
#target > .row[dragonto]::before {
  color: white;
}
.row[dragonto]::before {
  background-color: #C48E69;
  color: white;/*#593A27;*/
}

#target       .col div.row::before,
#target     .col-1 div.row::before,
#target     .col-2 div.row::before,
#target     .col-3 div.row::before,
#target     .col-4 div.row::before,
#target     .col-5 div.row::before,
#target     .col-6 div.row::before,
#target     .col-7 div.row::before,
#target     .col-8 div.row::before,
#target     .col-9 div.row::before,
#target    .col-10 div.row::before,
#target    .col-11 div.row::before, 
#target    .col-12 div.row::before,

#target    .col-sm div.row::before,
#target  .col-sm-1 div.row::before,
#target  .col-sm-2 div.row::before,
#target  .col-sm-3 div.row::before,
#target  .col-sm-4 div.row::before,
#target  .col-sm-5 div.row::before,
#target  .col-sm-6 div.row::before,
#target  .col-sm-7 div.row::before,
#target  .col-sm-8 div.row::before,
#target  .col-sm-9 div.row::before,
#target .col-sm-10 div.row::before,
#target .col-sm-11 div.row::before, 
#target .col-sm-12 div.row::before,

#target    .col-md div.row::before,
#target  .col-md-1 div.row::before,
#target  .col-md-2 div.row::before,
#target  .col-md-3 div.row::before,
#target  .col-md-4 div.row::before,
#target  .col-md-5 div.row::before,
#target  .col-md-6 div.row::before,
#target  .col-md-7 div.row::before,
#target  .col-md-8 div.row::before,
#target  .col-md-9 div.row::before,
#target .col-md-10 div.row::before,
#target .col-md-11 div.row::before, 
#target .col-md-12 div.row::before
{
  transform: translateY(-1.5em);
  background-color: #C48E69;
  font-size: 1.5rem;
}


div[data-style=droppable-placeholder]::before {
  box-sizing: content-box;
  position: absolute;
  content: attr(class);
  transform: translateX(0);
  font: 2rem monospace;
}
div[dragonto] {
  background-color: #999;
}
div[dragonto]::before {
  align-self: start; 
  content: attr(class);
  font: 2rem monospace;
  color: white;
}

.sidebar [draggable=true] {
  border-radius: 0;
}

.sidebar [draggable=true]:hover {
  box-shadow: #333 0 3px 10px;
}



